[core]
        autocrlf = true
        excludesfile =
        editor = vim
[alias]
        lg = log --all --graph --decorate --oneline --abbrev-commit
        gud = !git fetch --all --prune && git branch -v
        subm-init = submodule update --init --recursive
        subm = submodule update --recursive
        subm1 = !git submodule sync && git submodule update --init --recursive --remote
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        last = log -1 HEAD
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less
[interactive]
        diffFilter = "diff-highlight | less -FRX --tabs=4"
